/* 
grid
parent
display grid \ inline-grid
-grid-template*columns => number of columns In =>  [px. %. auto, repeat()] 
grid-template-rows => number of rows height 
*/


.container {
    display: grid;
    grid-template-areas: 'Champions Description Description' 'Champions Subscription OtherServices ';
    grid-gap: 10px;
    margin: 0 300px;
    color: rgb(255, 255, 255);
    background-color: "black";

}


.d1 {
    grid-area: Champions;
}

.d2 {
    grid-area: Description;
}

.d3 {
    grid-area: Subscription;
}

.d4 {
    grid-area: OtherServices;
}

.item {
    padding: 10px;

}



header {
    background-image: url("lol_image.jpg");
    height: 100px;
    background-position: center;
    text-align: center;
    padding: 100px;
}


nav {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5B1617;

}

nav a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}


footer {
    background-color: #5B1617;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 50px;
    width: 960x;

}

.radio {
    font-size: 24px;
    font-weight: 500;
    text-transform: inline-block;
    vertical-align: middle;
    color: #fff;
}

.parent div {
    border: solid 1px #000;
}

.style {
    margin: 10px;
}

.style1 {

    margin: 10px 10px 10px 10px;
    padding: 15px 5px 20px 0px;

}

.style2 {
    margin-left: 25px;
}

.p {
    margin: 0px 0px 0px 50px;

}

button {
    display: block;
    margin: 10px auto;
    background-color: #5B1617;
    border: none;
}

button a {
    color: White;
    font-style: bold;
    font-size: medium;
    text-decoration: none;
}

.menuimages {
    width: 32%;
    height: 200px;

}


body {
    background-color: black;
}

hr {
    Display: none;
}

.a {
    font-size: 100px;
    background-color: rgba(255, 188, 4, 0.103);
}

.linkText:hover>a {

    color: #9630C5;

}

.linkText:hover {
    background-color: black;
}

.linkText {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;


}

.ffs {
    text-align: center;
}



.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.input_container input {
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}